{%- comment -%}
  {% render 'article-related-products' %}

  The article should have a metafield setup for Related Articles, Related Collections, and Related Products. These fields should be a Metaobject List field, each referencing the relevant Metaobject definition.

  Related Articles
  * Name
  * Articles (Single Line Text List)

  Related Collections
  * Name
  * Collections (Collection List)

  Related Articles
  * Name
  * Products (Product List)
{%- endcomment -%}

{% assign metaobject = article.metafields.SITE_NAME.related_products.value %}
{% if metaobject %}
  <div class="article-related article-related--products">
    <div class="container">
      <div class="article-related__header">
        <h2 class="heading-2">{{ 'blogs.article.related_products' | t }}</h2>
      </div>
      <div class="grid-list">
        {% for product in metaobject.products.value %}
          <div class="grid-item">
            {% render 'product-card', product: product %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
