{{ 'snippet-custom-find-your-perfect-cup-1.css' | asset_url | stylesheet_tag }}

{% comment %}
------------------------------------------------------------------------------
  Snippet: find-your-perfect-cup-1
  - Add snippet description here
------------------------------------------------------------------------------
{% endcomment %}

<div class="custom-find-your-perfect-cup-1">
  {{ content }}
</div>