<section class="header__icon header__icon--search">
  <label
    class="header__icon-wrapper"
    tabindex="0"
    aria-label="{{ 'general.search.placeholder' | t }}"
    data-click-toggle='[{"target": "body", "toggle": "search-open"},{"target": "body", "toggle": "modal-open"}]'
    for="search__input"
    class="label-hidden"
  >
    {% render 'icon-search' %}
  </label>
</section>
