<section class="header__icon header__icon--hamburger">
  <button
    class="header__icon-wrapper"
    aria-label="open navigation"
    data-click-toggle='
      [
        {"target": "body", "add": "modal-open,mobile-nav-open"},
        {"target": "html", "add": "modal-open"}
      ]
    '
  >
    {% render 'icon-hamburger' %}
  </button>
</section>
