<div
  data-app-layer-portal="promo-bar"
  data-promo-bar-text="{{ settings.promo_bar_text }}"
  data-promo-bar-text-success="{{ settings.promo_bar_text_success }}"
  data-promo-bar-enable="{{ settings.promo_bar_enable }}"
  data-promo-bar-cart-value="{{ cart.total_price }}"
></div>
