<div
  class="search__input-portal"
  data-app-layer-portal="search-input"
  data-lang-search-input-placeholder="{{ 'general.search.submit' | t }}"
  data-lang-search-clear="{{ 'general.search.clear' | t }}"
  data-lang-search-input-value="{{ search.terms }}"
></div>
