{%- comment -%}
  {% render 'share-icon' %}
{%- endcomment -%}

<div class="share-icon {{ class }}" data-copy-url>
  <div aria-label="share" class="share-icon__notify">{{ 'notification.general.copy_title' | t }}</div>
</div>
