<div class="main-password">
  <div class="container">
    <div class="main-password__header">
      <button
        class="cta"
        type="button"
        data-show-password
      >
        {{ 'general.password_page.login_form_heading' | t }}
      </button>
    </div>

    <div class="main-password__signup" data-password-signup>
      {% render 'newsletter-signup', section: section %}
      {% render 'social-icons' %}
    </div>

    <div class="main-password-password hide" data-password-password>
      <button
        class="main-password__back"
        data-show-signup
        aria-label="Back"
      ></button>

      {% form 'storefront_password' %}
        {% if form.errors %}
          <div class="main-password__alert alert alert--error">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <div class="input-wrapper">
          <input
            class="text-input"
            type="password"
            name="password"
            id="Password"
            data-aid="storefront-password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
          >
          <button
            type="submit"
            name="commit"
            id="Subscribe"
            class="btn btn--primary"
          >
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      {% endform %}
    </div>
  </div>
</div>

<script>
  const passwordBtn = document.querySelector('[data-show-password]');
  const backBtn = document.querySelector('[data-show-signup]');
  const passwordEl = document.querySelector('[data-password-password]');
  const signupEl = document.querySelector('[data-password-signup]');

  passwordBtn.addEventListener('click', () => {
    passwordBtn.classList.add('hide');
    passwordEl.classList.remove('hide');
    signupEl.classList.add('hide');
  });

  backBtn.addEventListener('click', () => {
    passwordBtn.classList.remove('hide');
    passwordEl.classList.add('hide');
    signupEl.classList.remove('hide');
  });
</script>

{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "header",
      "content": "This should only be used on password.json"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Coming Soon"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Sub Text",
      "default": "<p>We are making some changes to our site and will be back very soon.</p>"
    }
  ]
}
{% endschema %}
