.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[data-anim] {
  transition-duration: 333ms;
  transition-timing-function: ease-in-out;
}
[data-anim].anim-delay-333 {
  transition-delay: 333ms;
}
[data-anim].anim-delay-666 {
  transition-delay: 666ms;
}
[data-anim].anim-delay-999 {
  transition-delay: 999ms;
}
[data-anim].anim-fade-in {
  opacity: 0;
  transition-property: opacity;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-fade-in {
    opacity: 1;
  }
}
[data-anim].anim-fade-in.anim-active {
  opacity: 1;
}
[data-anim].anim-slide-in-left {
  transform: translateX(66px);
  transition-property: transform, opacity;
  opacity: 0;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-slide-in-left {
    opacity: 1;
    transform: none;
  }
}
[data-anim].anim-slide-in-left.anim-active {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-active {
    transition: none;
  }
}

.localisation {
  height: 22px;
  position: relative;
}
.localisation:not(.is-expanded) {
  overflow: hidden;
}
.localisation ul {
  display: flex;
  flex-direction: column;
  padding-right: 18px;
  background-color: #fff;
}
.localisation ul li {
  height: 22px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 2px;
}
.localisation ul li button {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.localisation__arrow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  cursor: pointer;
}
.localisation__arrow svg {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 7px;
  right: 6px;
}
.localisation .selected {
  order: -1;
}