.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[data-anim] {
  transition-duration: 333ms;
  transition-timing-function: ease-in-out;
}
[data-anim].anim-delay-333 {
  transition-delay: 333ms;
}
[data-anim].anim-delay-666 {
  transition-delay: 666ms;
}
[data-anim].anim-delay-999 {
  transition-delay: 999ms;
}
[data-anim].anim-fade-in {
  opacity: 0;
  transition-property: opacity;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-fade-in {
    opacity: 1;
  }
}
[data-anim].anim-fade-in.anim-active {
  opacity: 1;
}
[data-anim].anim-slide-in-left {
  transform: translateX(66px);
  transition-property: transform, opacity;
  opacity: 0;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-slide-in-left {
    opacity: 1;
    transform: none;
  }
}
[data-anim].anim-slide-in-left.anim-active {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-active {
    transition: none;
  }
}

.ad-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .ad-banner {
    grid-column: 1/3;
    grid-row: 2;
  }
}
@media screen and (min-width: 1024px) {
  .ad-banner {
    grid-column: 1/4;
  }
}
.ad-banner__inner {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .ad-banner__inner {
    max-width: 698px;
    text-align: left;
    left: 40px;
    bottom: 40px;
    width: calc(100% - 80px);
  }
}
.ad-banner__header {
  color: var(--color-main-3);
}
.ad-banner__content {
  margin-top: 10px;
  color: var(--color-main-3);
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .ad-banner__content {
    padding: 0;
    margin-top: 16px;
  }
}
.ad-banner__cta {
  margin-top: 20px;
}