.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[data-anim] {
  transition-duration: 333ms;
  transition-timing-function: ease-in-out;
}
[data-anim].anim-delay-333 {
  transition-delay: 333ms;
}
[data-anim].anim-delay-666 {
  transition-delay: 666ms;
}
[data-anim].anim-delay-999 {
  transition-delay: 999ms;
}
[data-anim].anim-fade-in {
  opacity: 0;
  transition-property: opacity;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-fade-in {
    opacity: 1;
  }
}
[data-anim].anim-fade-in.anim-active {
  opacity: 1;
}
[data-anim].anim-slide-in-left {
  transform: translateX(66px);
  transition-property: transform, opacity;
  opacity: 0;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-slide-in-left {
    opacity: 1;
    transform: none;
  }
}
[data-anim].anim-slide-in-left.anim-active {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-active {
    transition: none;
  }
}

.cart-upsells {
  padding: 0;
  margin-top: auto;
  background-color: #fff;
}
.cart-upsells__title {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-upsell {
  display: grid;
  align-items: center;
  padding: 0 44px;
  grid-template-columns: 100px 1fr;
}
.cart-upsell__image img {
  height: auto;
}
.cart-upsell__details {
  display: grid;
  gap: 16px;
}
.cart-upsell__details .heading-4 {
  margin: 0;
}