.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[data-anim] {
  transition-duration: 333ms;
  transition-timing-function: ease-in-out;
}
[data-anim].anim-delay-333 {
  transition-delay: 333ms;
}
[data-anim].anim-delay-666 {
  transition-delay: 666ms;
}
[data-anim].anim-delay-999 {
  transition-delay: 999ms;
}
[data-anim].anim-fade-in {
  opacity: 0;
  transition-property: opacity;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-fade-in {
    opacity: 1;
  }
}
[data-anim].anim-fade-in.anim-active {
  opacity: 1;
}
[data-anim].anim-slide-in-left {
  transform: translateX(66px);
  transition-property: transform, opacity;
  opacity: 0;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-slide-in-left {
    opacity: 1;
    transform: none;
  }
}
[data-anim].anim-slide-in-left.anim-active {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-active {
    transition: none;
  }
}

.product-form .gift-card-recipient__toggle {
  margin-bottom: 24px;
}
.product-form .btn--atc {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
}
.product-form .btn--atc.loading {
  opacity: 0.5;
}
.product-form .btn--atc.success {
  color: transparent;
  background-color: var(--color-success);
  border-color: var(--color-success);
  transition: background-color 333ms ease-in-out;
}
.product-form .btn--atc.success::after {
  color: #fff;
  width: calc(100% + 2px);
}
.product-form .btn--atc::after {
  color: transparent;
  content: attr(data-success-text);
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("icon-success.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  width: 0;
  overflow: hidden;
  transition: width 333ms ease-in-out;
}