.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[data-anim] {
  transition-duration: 333ms;
  transition-timing-function: ease-in-out;
}
[data-anim].anim-delay-333 {
  transition-delay: 333ms;
}
[data-anim].anim-delay-666 {
  transition-delay: 666ms;
}
[data-anim].anim-delay-999 {
  transition-delay: 999ms;
}
[data-anim].anim-fade-in {
  opacity: 0;
  transition-property: opacity;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-fade-in {
    opacity: 1;
  }
}
[data-anim].anim-fade-in.anim-active {
  opacity: 1;
}
[data-anim].anim-slide-in-left {
  transform: translateX(66px);
  transition-property: transform, opacity;
  opacity: 0;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-slide-in-left {
    opacity: 1;
    transform: none;
  }
}
[data-anim].anim-slide-in-left.anim-active {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (prefers-reduced-motion: reduce) {
  [data-anim].anim-active {
    transition: none;
  }
}

#shopify-section-announcement-bar {
  z-index: 100;
}
.mobile-nav-open #shopify-section-announcement-bar {
  z-index: 1;
}

.announcement-bar {
  position: relative;
  padding: 6px 0;
  background: var(--bg);
}
.announcement-bar__list {
  align-items: center;
}
.announcement-bar__item {
  color: var(--color);
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  max-height: 50px;
}
.announcement-bar__item:hover {
  text-decoration: underline;
}
.announcement-bar__close {
  display: flex;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .announcement-bar__close {
    right: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .announcement-bar__close {
    right: 11px;
  }
}
.announcement-bar__close svg {
  width: 25px;
  height: 25px;
}